body {
    font-size: 1.1vw;
    font-family: Arial;
    background-color: white;
}

.div_body {
    display: flex;
    flex: 50%;
}

.left_page {
    left: 50%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.right_page {
    padding-left: 20px;
    left: 50%;
    padding-right: 20px;
}

strong {
    font-size: 1.6vw;
}

img {
    max-height: 21vw; 
    max-width: 21vh;
    min-height: 10vw;
    min-width: 10vw;
    border-radius: 50%;
}

.id_contact {
    justify-content: center;
}

.divided_col {
    background-color: black;
    border-width: .18vw;
    border-color: black;
}
.divided_row {
    background-color: black;
    border-width: .15vw;
    border-color: black;
}
span {
    font-size: 1.2vw;
    margin-left: .5vw;
}
a {
    font-size: 1.2vw;
    margin-left: .5vw;
    text-decoration: none;
    color: black;
}

#CS114_ML {
    padding-left: 1vw;
    padding-top: .02vw;
    padding-bottom: .02vw;
    background-color: rgb(218, 218, 218);
}

#CS232 {
    padding-left: 1vw;
    padding-top: .02vw;
    padding-bottom: .02vw;
}


#CS106 {
    padding-left: 1vw;
    padding-top: .02vw;
    padding-bottom: .02vw;
    background-color: rgb(218, 218, 218);
}

#CS231 {
    padding-left: 1vw;
    padding-top: .02vw;
    padding-bottom: .02vw;
}

.personal_name {
    margin-left: 1.12vw;
}

.contact{
    margin-left: 1vw;
}
.Skill_personal {
    margin-left: 1vw;
}
.certification{
    margin-left: 1vw;
}